<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户名错误</title>
</head>
<body>
 <div>
     <div>
         <span id="usernameerror" th:text="${error}"></span>
     </div>
     <div>
         <span id="userscan">用户名：</span>
         <p th:text="${username}"></p>
     </div>
     <br/>
     <div>
         <span id="passwordscan">密码：</span>
         <p th:text="${password}"></p>
     </div>
     <br/>
 </div>
</body>
</html>